Flow 2.json
[{"id":"83f84f7c.4d7f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8e658add.3c1d38","type":"http in","z":"83f84f7c.4d7f8","name":"Set GPIO5","url":"/just1","method":"get","upload":false,"swaggerDoc":"","x":60,"y":200,"wires":[["cc1976bc.f5a0d8","c3b9e432.cd1958"]]},{"id":"cc1976bc.f5a0d8","type":"function","z":"83f84f7c.4d7f8","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":280,"wires":[["98bdbd18.ae428"]]},{"id":"98bdbd18.ae428","type":"rpi-gpio out","z":"83f84f7c.4d7f8","name":"Pin29-GPIO5","pin":"29","set":"","level":"0","freq":"","out":"out","x":390,"y":400,"wires":[]},{"id":"c3b9e432.cd1958","type":"function","z":"83f84f7c.4d7f8","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":120,"wires":[["2feb6a5a.dff4c6","2ce9f042.d7992"]]},{"id":"1082e16f.0aa3bf","type":"http in","z":"83f84f7c.4d7f8","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":560,"wires":[["121cbcca.709213","97718068.0f3"]]},{"id":"121cbcca.709213","type":"function","z":"83f84f7c.4d7f8","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":520,"wires":[["98bdbd18.ae428"]]},{"id":"2ce9f042.d7992","type":"debug","z":"83f84f7c.4d7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":360,"wires":[]},{"id":"2feb6a5a.dff4c6","type":"http response","z":"83f84f7c.4d7f8","name":"","statusCode":"","headers":{},"x":570,"y":140,"wires":[]},{"id":"97718068.0f3","type":"function","z":"83f84f7c.4d7f8","name":"Return Status","func":"msg.payload=\"GPIO set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":680,"wires":[["2ce9f042.d7992","2feb6a5a.dff4c6"]]}]