Flow 1.json
[{"id":"4935c28e.3f37bc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b2f67a68.c88758","type":"http in","z":"4935c28e.3f37bc","name":"switch","url":"/just","method":"get","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["c0ccf059.79301"]]},{"id":"2f3575d0.6c10fa","type":"rpi-gpio in","z":"4935c28e.3f37bc","name":"GPIO4","pin":"7","intype":"tri","debounce":"25","read":true,"x":110,"y":420,"wires":[["2658b3ae.e18b1c"]]},{"id":"2658b3ae.e18b1c","type":"function","z":"4935c28e.3f37bc","name":"Set GPIO","func":"global.set(\"GPIO\" ,msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["ab9d5a94.357188"]]},{"id":"c0ccf059.79301","type":"function","z":"4935c28e.3f37bc","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["3ef14a74.9b3166","ab9d5a94.357188"]]},{"id":"ab9d5a94.357188","type":"debug","z":"4935c28e.3f37bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":400,"wires":[]},{"id":"3ef14a74.9b3166","type":"http response","z":"4935c28e.3f37bc","name":"","statusCode":"","headers":{},"x":580,"y":220,"wires":[]}]